input {
  border: 2px solid rgb(3, 56, 3);
  padding: 5px 10px;
  border-radius: 5px;
}

button {
  border: 2px solid rgb(3, 56, 3);
  padding: 5px 15px;
  border-radius: 5px!important;
  background-color: green;
  color: white;
}
.main{
  background-color: rgba(103, 173, 238, 0.63);
}
.temp {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 600;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 300;
}

.loc{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 300;
}